cmdbuild-shark/cmdbuild-shark-extensions/src/main/wsdl/Private.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PrivateImplService" targetNamespace="http://soap.services.cmdbuild.org" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://soap.services.cmdbuild.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="qualified" targetNamespace="http://soap.services.cmdbuild.org" version="1.0" xmlns:tns="http://soap.services.cmdbuild.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="createCard" type="tns:createCard" />
<xs:element name="createCardResponse" type="tns:createCardResponse" />
<xs:element name="createLookup" type="tns:createLookup" />
<xs:element name="createLookupResponse" type="tns:createLookupResponse" />
<xs:element name="createRelation" type="tns:createRelation" />
<xs:element name="createRelationResponse" type="tns:createRelationResponse" />
<xs:element name="deleteAttachment" type="tns:deleteAttachment" />
<xs:element name="deleteAttachmentResponse" type="tns:deleteAttachmentResponse" />
<xs:element name="deleteCard" type="tns:deleteCard" />
<xs:element name="deleteCardResponse" type="tns:deleteCardResponse" />
<xs:element name="deleteLookup" type="tns:deleteLookup" />
<xs:element name="deleteLookupResponse" type="tns:deleteLookupResponse" />
<xs:element name="deleteRelation" type="tns:deleteRelation" />
<xs:element name="deleteRelationResponse" type="tns:deleteRelationResponse" />
<xs:element name="downloadAttachment" type="tns:downloadAttachment" />
<xs:element name="downloadAttachmentResponse" type="tns:downloadAttachmentResponse" />
<xs:element name="getActivityMenuSchema" type="tns:getActivityMenuSchema" />
<xs:element name="getActivityMenuSchemaResponse" type="tns:getActivityMenuSchemaResponse" />
<xs:element name="getActivityObjects" type="tns:getActivityObjects" />
<xs:element name="getActivityObjectsResponse" type="tns:getActivityObjectsResponse" />
<xs:element name="getAttachmentList" type="tns:getAttachmentList" />
<xs:element name="getAttachmentListResponse" type="tns:getAttachmentListResponse" />
<xs:element name="getAttributeList" type="tns:getAttributeList" />
<xs:element name="getAttributeListResponse" type="tns:getAttributeListResponse" />
<xs:element name="getCard" type="tns:getCard" />
<xs:element name="getCardHistory" type="tns:getCardHistory" />
<xs:element name="getCardHistoryResponse" type="tns:getCardHistoryResponse" />
<xs:element name="getCardList" type="tns:getCardList" />
<xs:element name="getCardListResponse" type="tns:getCardListResponse" />
<xs:element name="getCardMenuSchema" type="tns:getCardMenuSchema" />
<xs:element name="getCardMenuSchemaResponse" type="tns:getCardMenuSchemaResponse" />
<xs:element name="getCardResponse" type="tns:getCardResponse" />
<xs:element name="getLookupById" type="tns:getLookupById" />
<xs:element name="getLookupByIdResponse" type="tns:getLookupByIdResponse" />
<xs:element name="getLookupList" type="tns:getLookupList" />
<xs:element name="getLookupListByCode" type="tns:getLookupListByCode" />
<xs:element name="getLookupListByCodeResponse" type="tns:getLookupListByCodeResponse" />
<xs:element name="getLookupListResponse" type="tns:getLookupListResponse" />
<xs:element name="getMenuSchema" type="tns:getMenuSchema" />
<xs:element name="getMenuSchemaResponse" type="tns:getMenuSchemaResponse" />
<xs:element name="getProcessHelp" type="tns:getProcessHelp" />
<xs:element name="getProcessHelpResponse" type="tns:getProcessHelpResponse" />
<xs:element name="getReference" type="tns:getReference" />
<xs:element name="getReferenceResponse" type="tns:getReferenceResponse" />
<xs:element name="getRelationHistory" type="tns:getRelationHistory" />
<xs:element name="getRelationHistoryResponse" type="tns:getRelationHistoryResponse" />
<xs:element name="getRelationList" type="tns:getRelationList" />
<xs:element name="getRelationListResponse" type="tns:getRelationListResponse" />
<xs:element name="getReport" type="tns:getReport" />
<xs:element name="getReportList" type="tns:getReportList" />
<xs:element name="getReportListResponse" type="tns:getReportListResponse" />
<xs:element name="getReportParameters" type="tns:getReportParameters" />
<xs:element name="getReportParametersResponse" type="tns:getReportParametersResponse" />
<xs:element name="getReportResponse" type="tns:getReportResponse" />
<xs:element name="sync" type="tns:sync" />
<xs:element name="syncResponse" type="tns:syncResponse" />
<xs:element name="updateAttachmentDescription" type="tns:updateAttachmentDescription" />
<xs:element name="updateAttachmentDescriptionResponse" type="tns:updateAttachmentDescriptionResponse" />
<xs:element name="updateCard" type="tns:updateCard" />
<xs:element name="updateCardResponse" type="tns:updateCardResponse" />
<xs:element name="updateLookup" type="tns:updateLookup" />
<xs:element name="updateLookupResponse" type="tns:updateLookupResponse" />
<xs:element name="updateWorkflow" type="tns:updateWorkflow" />
<xs:element name="updateWorkflowResponse" type="tns:updateWorkflowResponse" />
<xs:element name="uploadAttachment" type="tns:uploadAttachment" />
<xs:element name="uploadAttachmentResponse" type="tns:uploadAttachmentResponse" />
<xs:complexType name="getReportList">
<xs:sequence>
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element name="limit" type="xs:int" />
<xs:element name="offset" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReportListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:report" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="report">
<xs:sequence>
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element name="id" type="xs:int" />
<xs:element minOccurs="0" name="title" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLookupList">
<xs:sequence>
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element name="parentList" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLookupListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:lookup" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="lookup">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element name="id" type="xs:int" />
<xs:element minOccurs="0" name="notes" type="xs:string" />
<xs:element minOccurs="0" name="parent" type="tns:lookup" />
<xs:element name="parentId" type="xs:int" />
<xs:element name="position" type="xs:int" />
<xs:element minOccurs="0" name="type" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateLookup">
<xs:sequence>
<xs:element minOccurs="0" name="lookup" type="tns:lookup" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateLookupResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLookupById">
<xs:sequence>
<xs:element name="id" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLookupByIdResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:lookup" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAttributeList">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAttributeListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:attributeSchema" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="attributeSchema">
<xs:sequence>
<xs:element form="unqualified" name="baseDSP" type="xs:boolean" />
<xs:element form="unqualified" name="classorder" type="xs:int" />
<xs:element form="unqualified" minOccurs="0" name="defaultValue" type="xs:string" />
<xs:element form="unqualified" minOccurs="0" name="description" type="xs:string" />
<xs:element form="unqualified" minOccurs="0" name="fieldmode" type="xs:string" />
<xs:element form="unqualified" name="idClass" type="xs:int" />
<xs:element form="unqualified" minOccurs="0" name="idDomain" type="xs:int" />
<xs:element form="unqualified" name="index" type="xs:int" />
<xs:element form="unqualified" name="inherited" type="xs:boolean" />
<xs:element form="unqualified" name="length" type="xs:int" />
<xs:element form="unqualified" minOccurs="0" name="lookupType" type="xs:string" />
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="metadata" nillable="true" type="tns:metadata" />
<xs:element form="unqualified" minOccurs="0" name="name" type="xs:string" />
<xs:element form="unqualified" name="notnull" type="xs:boolean" />
<xs:element form="unqualified" name="precision" type="xs:int" />
<xs:element form="unqualified" minOccurs="0" name="referencedClassName" type="xs:string" />
<xs:element form="unqualified" minOccurs="0" name="referencedIdClass" type="xs:int" />
<xs:element form="unqualified" name="scale" type="xs:int" />
<xs:element form="unqualified" minOccurs="0" name="type" type="xs:string" />
<xs:element form="unqualified" name="unique" type="xs:boolean" />
<xs:element form="unqualified" minOccurs="0" name="visibility" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="metadata">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="uploadAttachment">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="objectid" type="xs:int" />
<xs:element minOccurs="0" name="file" ns1:expectedContentTypes="application/octet-stream" type="xs:base64Binary" xmlns:ns1="http://www.w3.org/2005/05/xmlmime" />
<xs:element minOccurs="0" name="filename" type="xs:string" />
<xs:element minOccurs="0" name="category" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="uploadAttachmentResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCard">
<xs:sequence>
<xs:element minOccurs="0" name="card" type="tns:card" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="card">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributeList" nillable="true" type="tns:attribute" />
<xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
<xs:element name="id" type="xs:int" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="metadata" nillable="true" type="tns:metadata" />
<xs:element minOccurs="0" name="user" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="attribute">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sync">
<xs:sequence>
<xs:element minOccurs="0" name="xml" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="syncResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAttachmentList">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="cardId" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAttachmentListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:attachment" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="attachment">
<xs:sequence>
<xs:element minOccurs="0" name="author" type="xs:string" />
<xs:element minOccurs="0" name="category" type="xs:string" />
<xs:element minOccurs="0" name="created" type="xs:dateTime" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element minOccurs="0" name="filename" type="xs:string" />
<xs:element minOccurs="0" name="modified" type="xs:dateTime" />
<xs:element minOccurs="0" name="version" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCard">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="cardId" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateAttachmentDescription">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="cardId" type="xs:int" />
<xs:element minOccurs="0" name="filename" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateAttachmentDescriptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getMenuSchema">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getMenuSchemaResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:menuSchema" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="menuSchema">
<xs:sequence>
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="children" nillable="true" type="tns:menuSchema" />
<xs:element form="unqualified" minOccurs="0" name="classname" type="xs:string" />
<xs:element form="unqualified" minOccurs="0" name="defaultToDisplay" type="xs:boolean" />
<xs:element form="unqualified" minOccurs="0" name="description" type="xs:string" />
<xs:element form="unqualified" name="id" type="xs:int" />
<xs:element form="unqualified" minOccurs="0" name="menuType" type="xs:string" />
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="metadata" nillable="true" type="tns:metadata" />
<xs:element form="unqualified" name="parentId" type="xs:int" />
<xs:element form="unqualified" name="position" type="xs:int" />
<xs:element form="unqualified" minOccurs="0" name="privilege" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReference">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element minOccurs="0" name="query" type="tns:query" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="orderType" type="tns:order" />
<xs:element minOccurs="0" name="limit" type="xs:int" />
<xs:element minOccurs="0" name="offset" type="xs:int" />
<xs:element minOccurs="0" name="fullTextQuery" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="query">
<xs:sequence>
<xs:element minOccurs="0" name="filter" type="tns:filter" />
<xs:element minOccurs="0" name="filterOperator" type="tns:filterOperator" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="filter">
<xs:sequence>
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="operator" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="value" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="filterOperator">
<xs:sequence>
<xs:element minOccurs="0" name="operator" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="subquery" nillable="true" type="tns:query" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="order">
<xs:sequence>
<xs:element minOccurs="0" name="columnName" type="xs:string" />
<xs:element minOccurs="0" name="type" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReferenceResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:reference" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="reference">
<xs:sequence>
<xs:element minOccurs="0" name="classname" type="xs:string" />
<xs:element minOccurs="0" name="description" type="xs:string" />
<xs:element name="id" type="xs:int" />
<xs:element name="totalRows" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRelationHistory">
<xs:sequence>
<xs:element minOccurs="0" name="relation" type="tns:relation" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="relation">
<xs:sequence>
<xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
<xs:element name="card1Id" type="xs:int" />
<xs:element name="card2Id" type="xs:int" />
<xs:element minOccurs="0" name="class1Name" type="xs:string" />
<xs:element minOccurs="0" name="class2Name" type="xs:string" />
<xs:element minOccurs="0" name="domainName" type="xs:string" />
<xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="status" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRelationHistoryResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:relation" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateWorkflow">
<xs:sequence>
<xs:element minOccurs="0" name="card" type="tns:card" />
<xs:element name="completeTask" type="xs:boolean" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="widgets" type="tns:workflowWidgetSubmission" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="workflowWidgetSubmission">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="identifier" type="xs:string" />
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:workflowWidgetSubmissionParameter" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="workflowWidgetSubmissionParameter">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="key" type="xs:string" />
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="values" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateWorkflowResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:workflow" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="workflow">
<xs:sequence>
<xs:element name="processid" type="xs:int" />
<xs:element minOccurs="0" name="processinstanceid" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getActivityMenuSchema">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getActivityMenuSchemaResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:menuSchema" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRelationList">
<xs:sequence>
<xs:element minOccurs="0" name="domain" type="xs:string" />
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="cardId" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getRelationListResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:relation" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getActivityObjects">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element minOccurs="0" name="cardid" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getActivityObjectsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:activitySchema" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="activitySchema">
<xs:sequence>
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="attributes" nillable="true" type="tns:attributeSchema" />
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="widgets" nillable="true" type="tns:workflowWidgetDefinition" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="workflowWidgetDefinition">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="identifier" type="xs:string" />
<xs:element form="unqualified" maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:workflowWidgetDefinitionParameter" />
<xs:element form="unqualified" minOccurs="0" name="type" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="workflowWidgetDefinitionParameter">
<xs:sequence>
<xs:element form="unqualified" minOccurs="0" name="key" type="xs:string" />
<xs:element form="unqualified" minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteRelation">
<xs:sequence>
<xs:element minOccurs="0" name="relation" type="tns:relation" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteRelationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="downloadAttachment">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="objectid" type="xs:int" />
<xs:element minOccurs="0" name="filename" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="downloadAttachmentResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" ns2:expectedContentTypes="application/octet-stream" type="xs:base64Binary" xmlns:ns2="http://www.w3.org/2005/05/xmlmime" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteLookup">
<xs:sequence>
<xs:element name="lookupId" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteLookupResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createLookup">
<xs:sequence>
<xs:element minOccurs="0" name="lookup" type="tns:lookup" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createLookupResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLookupListByCode">
<xs:sequence>
<xs:element minOccurs="0" name="type" type="xs:string" />
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element name="parentList" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getLookupListByCodeResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:lookup" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCard">
<xs:sequence>
<xs:element minOccurs="0" name="cardType" type="tns:card" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createRelation">
<xs:sequence>
<xs:element minOccurs="0" name="relation" type="tns:relation" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createRelationResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCardList">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributeList" type="tns:attribute" />
<xs:element minOccurs="0" name="queryType" type="tns:query" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="orderType" type="tns:order" />
<xs:element minOccurs="0" name="limit" type="xs:int" />
<xs:element minOccurs="0" name="offset" type="xs:int" />
<xs:element minOccurs="0" name="fullTextQuery" type="xs:string" />
<xs:element minOccurs="0" name="cqlQuery" type="tns:cqlQuery" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cqlQuery">
<xs:sequence>
<xs:element minOccurs="0" name="cqlQuery" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" nillable="true" type="tns:cqlParameter" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cqlParameter">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCardListResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:cardList" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="cardList">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="cards" nillable="true" type="tns:card" />
<xs:element name="totalRows" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCardMenuSchema">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getCardMenuSchemaResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:menuSchema" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReport">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element minOccurs="0" name="extension" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="params" type="tns:reportParams" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="reportParams">
<xs:sequence>
<xs:element minOccurs="0" name="key" type="xs:string" />
<xs:element minOccurs="0" name="value" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReportResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" ns3:expectedContentTypes="application/octet-stream" type="xs:base64Binary" xmlns:ns3="http://www.w3.org/2005/05/xmlmime" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAttachment">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="cardId" type="xs:int" />
<xs:element minOccurs="0" name="filename" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteAttachmentResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReportParameters">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element minOccurs="0" name="extension" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getReportParametersResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:attributeSchema" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCardHistory">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element name="cardId" type="xs:int" />
<xs:element minOccurs="0" name="limit" type="xs:int" />
<xs:element minOccurs="0" name="offset" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCardHistoryResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:cardList" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getProcessHelp">
<xs:sequence>
<xs:element minOccurs="0" name="classname" type="xs:string" />
<xs:element minOccurs="0" name="cardid" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getProcessHelpResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCard">
<xs:sequence>
<xs:element minOccurs="0" name="className" type="xs:string" />
<xs:element minOccurs="0" name="cardId" type="xs:int" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="attributeList" type="tns:attribute" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCardResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:card" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getActivityMenuSchemaResponse">
    <wsdl:part element="tns:getActivityMenuSchemaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportListResponse">
    <wsdl:part element="tns:getReportListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportParameters">
    <wsdl:part element="tns:getReportParameters" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLookupListResponse">
    <wsdl:part element="tns:getLookupListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLookupByIdResponse">
    <wsdl:part element="tns:getLookupByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadAttachment">
    <wsdl:part element="tns:downloadAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLookupListByCode">
    <wsdl:part element="tns:getLookupListByCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReport">
    <wsdl:part element="tns:getReport" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLookup">
    <wsdl:part element="tns:updateLookup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivityObjects">
    <wsdl:part element="tns:getActivityObjects" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadAttachmentResponse">
    <wsdl:part element="tns:downloadAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelationList">
    <wsdl:part element="tns:getRelationList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sync">
    <wsdl:part element="tns:sync" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLookupResponse">
    <wsdl:part element="tns:createLookupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMenuSchemaResponse">
    <wsdl:part element="tns:getMenuSchemaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportParametersResponse">
    <wsdl:part element="tns:getReportParametersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRelationResponse">
    <wsdl:part element="tns:createRelationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCard">
    <wsdl:part element="tns:deleteCard" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelationHistoryResponse">
    <wsdl:part element="tns:getRelationHistoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardList">
    <wsdl:part element="tns:getCardList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLookupById">
    <wsdl:part element="tns:getLookupById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCard">
    <wsdl:part element="tns:createCard" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="syncResponse">
    <wsdl:part element="tns:syncResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportList">
    <wsdl:part element="tns:getReportList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivityObjectsResponse">
    <wsdl:part element="tns:getActivityObjectsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadAttachment">
    <wsdl:part element="tns:uploadAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLookupResponse">
    <wsdl:part element="tns:deleteLookupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRelationResponse">
    <wsdl:part element="tns:deleteRelationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadAttachmentResponse">
    <wsdl:part element="tns:uploadAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardListResponse">
    <wsdl:part element="tns:getCardListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCardResponse">
    <wsdl:part element="tns:deleteCardResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateWorkflowResponse">
    <wsdl:part element="tns:updateWorkflowResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessHelp">
    <wsdl:part element="tns:getProcessHelp" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardHistory">
    <wsdl:part element="tns:getCardHistory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAttachmentResponse">
    <wsdl:part element="tns:deleteAttachmentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttachmentList">
    <wsdl:part element="tns:getAttachmentList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getActivityMenuSchema">
    <wsdl:part element="tns:getActivityMenuSchema" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReference">
    <wsdl:part element="tns:getReference" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCard">
    <wsdl:part element="tns:getCard" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteAttachment">
    <wsdl:part element="tns:deleteAttachment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttachmentDescriptionResponse">
    <wsdl:part element="tns:updateAttachmentDescriptionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardMenuSchemaResponse">
    <wsdl:part element="tns:getCardMenuSchemaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardMenuSchema">
    <wsdl:part element="tns:getCardMenuSchema" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createLookup">
    <wsdl:part element="tns:createLookup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRelation">
    <wsdl:part element="tns:deleteRelation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardResponse">
    <wsdl:part element="tns:getCardResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReferenceResponse">
    <wsdl:part element="tns:getReferenceResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMenuSchema">
    <wsdl:part element="tns:getMenuSchema" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateWorkflow">
    <wsdl:part element="tns:updateWorkflow" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelationListResponse">
    <wsdl:part element="tns:getRelationListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelationHistory">
    <wsdl:part element="tns:getRelationHistory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProcessHelpResponse">
    <wsdl:part element="tns:getProcessHelpResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCardResponse">
    <wsdl:part element="tns:updateCardResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateCard">
    <wsdl:part element="tns:updateCard" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttachmentListResponse">
    <wsdl:part element="tns:getAttachmentListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRelation">
    <wsdl:part element="tns:createRelation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttachmentDescription">
    <wsdl:part element="tns:updateAttachmentDescription" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLookupList">
    <wsdl:part element="tns:getLookupList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCardHistoryResponse">
    <wsdl:part element="tns:getCardHistoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteLookup">
    <wsdl:part element="tns:deleteLookup" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLookupListByCodeResponse">
    <wsdl:part element="tns:getLookupListByCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeList">
    <wsdl:part element="tns:getAttributeList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCardResponse">
    <wsdl:part element="tns:createCardResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getReportResponse">
    <wsdl:part element="tns:getReportResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAttributeListResponse">
    <wsdl:part element="tns:getAttributeListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateLookupResponse">
    <wsdl:part element="tns:updateLookupResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Private">
    <wsdl:operation name="getReportList">
      <wsdl:input message="tns:getReportList" name="getReportList">
    </wsdl:input>
      <wsdl:output message="tns:getReportListResponse" name="getReportListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLookupList">
      <wsdl:input message="tns:getLookupList" name="getLookupList">
    </wsdl:input>
      <wsdl:output message="tns:getLookupListResponse" name="getLookupListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLookup">
      <wsdl:input message="tns:updateLookup" name="updateLookup">
    </wsdl:input>
      <wsdl:output message="tns:updateLookupResponse" name="updateLookupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLookupById">
      <wsdl:input message="tns:getLookupById" name="getLookupById">
    </wsdl:input>
      <wsdl:output message="tns:getLookupByIdResponse" name="getLookupByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributeList">
      <wsdl:input message="tns:getAttributeList" name="getAttributeList">
    </wsdl:input>
      <wsdl:output message="tns:getAttributeListResponse" name="getAttributeListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadAttachment">
      <wsdl:input message="tns:uploadAttachment" name="uploadAttachment">
    </wsdl:input>
      <wsdl:output message="tns:uploadAttachmentResponse" name="uploadAttachmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCard">
      <wsdl:input message="tns:updateCard" name="updateCard">
    </wsdl:input>
      <wsdl:output message="tns:updateCardResponse" name="updateCardResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sync">
      <wsdl:input message="tns:sync" name="sync">
    </wsdl:input>
      <wsdl:output message="tns:syncResponse" name="syncResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttachmentList">
      <wsdl:input message="tns:getAttachmentList" name="getAttachmentList">
    </wsdl:input>
      <wsdl:output message="tns:getAttachmentListResponse" name="getAttachmentListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCard">
      <wsdl:input message="tns:deleteCard" name="deleteCard">
    </wsdl:input>
      <wsdl:output message="tns:deleteCardResponse" name="deleteCardResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAttachmentDescription">
      <wsdl:input message="tns:updateAttachmentDescription" name="updateAttachmentDescription">
    </wsdl:input>
      <wsdl:output message="tns:updateAttachmentDescriptionResponse" name="updateAttachmentDescriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuSchema">
      <wsdl:input message="tns:getMenuSchema" name="getMenuSchema">
    </wsdl:input>
      <wsdl:output message="tns:getMenuSchemaResponse" name="getMenuSchemaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReference">
      <wsdl:input message="tns:getReference" name="getReference">
    </wsdl:input>
      <wsdl:output message="tns:getReferenceResponse" name="getReferenceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelationHistory">
      <wsdl:input message="tns:getRelationHistory" name="getRelationHistory">
    </wsdl:input>
      <wsdl:output message="tns:getRelationHistoryResponse" name="getRelationHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWorkflow">
      <wsdl:input message="tns:updateWorkflow" name="updateWorkflow">
    </wsdl:input>
      <wsdl:output message="tns:updateWorkflowResponse" name="updateWorkflowResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivityMenuSchema">
      <wsdl:input message="tns:getActivityMenuSchema" name="getActivityMenuSchema">
    </wsdl:input>
      <wsdl:output message="tns:getActivityMenuSchemaResponse" name="getActivityMenuSchemaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelationList">
      <wsdl:input message="tns:getRelationList" name="getRelationList">
    </wsdl:input>
      <wsdl:output message="tns:getRelationListResponse" name="getRelationListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivityObjects">
      <wsdl:input message="tns:getActivityObjects" name="getActivityObjects">
    </wsdl:input>
      <wsdl:output message="tns:getActivityObjectsResponse" name="getActivityObjectsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRelation">
      <wsdl:input message="tns:deleteRelation" name="deleteRelation">
    </wsdl:input>
      <wsdl:output message="tns:deleteRelationResponse" name="deleteRelationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadAttachment">
      <wsdl:input message="tns:downloadAttachment" name="downloadAttachment">
    </wsdl:input>
      <wsdl:output message="tns:downloadAttachmentResponse" name="downloadAttachmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLookup">
      <wsdl:input message="tns:deleteLookup" name="deleteLookup">
    </wsdl:input>
      <wsdl:output message="tns:deleteLookupResponse" name="deleteLookupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLookup">
      <wsdl:input message="tns:createLookup" name="createLookup">
    </wsdl:input>
      <wsdl:output message="tns:createLookupResponse" name="createLookupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLookupListByCode">
      <wsdl:input message="tns:getLookupListByCode" name="getLookupListByCode">
    </wsdl:input>
      <wsdl:output message="tns:getLookupListByCodeResponse" name="getLookupListByCodeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCard">
      <wsdl:input message="tns:createCard" name="createCard">
    </wsdl:input>
      <wsdl:output message="tns:createCardResponse" name="createCardResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRelation">
      <wsdl:input message="tns:createRelation" name="createRelation">
    </wsdl:input>
      <wsdl:output message="tns:createRelationResponse" name="createRelationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardList">
      <wsdl:input message="tns:getCardList" name="getCardList">
    </wsdl:input>
      <wsdl:output message="tns:getCardListResponse" name="getCardListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardMenuSchema">
      <wsdl:input message="tns:getCardMenuSchema" name="getCardMenuSchema">
    </wsdl:input>
      <wsdl:output message="tns:getCardMenuSchemaResponse" name="getCardMenuSchemaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReport">
      <wsdl:input message="tns:getReport" name="getReport">
    </wsdl:input>
      <wsdl:output message="tns:getReportResponse" name="getReportResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAttachment">
      <wsdl:input message="tns:deleteAttachment" name="deleteAttachment">
    </wsdl:input>
      <wsdl:output message="tns:deleteAttachmentResponse" name="deleteAttachmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReportParameters">
      <wsdl:input message="tns:getReportParameters" name="getReportParameters">
    </wsdl:input>
      <wsdl:output message="tns:getReportParametersResponse" name="getReportParametersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardHistory">
      <wsdl:input message="tns:getCardHistory" name="getCardHistory">
    </wsdl:input>
      <wsdl:output message="tns:getCardHistoryResponse" name="getCardHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessHelp">
      <wsdl:input message="tns:getProcessHelp" name="getProcessHelp">
    </wsdl:input>
      <wsdl:output message="tns:getProcessHelpResponse" name="getProcessHelpResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCard">
      <wsdl:input message="tns:getCard" name="getCard">
    </wsdl:input>
      <wsdl:output message="tns:getCardResponse" name="getCardResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrivateImplServiceSoapBinding" type="tns:Private">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getReportList">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getReportList">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLookupList">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getLookupList">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLookupListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttributeList">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getAttributeList">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAttributeListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLookupById">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getLookupById">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLookupByIdResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLookup">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="updateLookup">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateLookupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadAttachment">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="uploadAttachment">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="uploadAttachmentResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCard">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="deleteCard">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteCardResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCard">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="updateCard">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateCardResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sync">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="sync">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="syncResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAttachmentList">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getAttachmentList">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAttachmentListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenuSchema">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getMenuSchema">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMenuSchemaResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAttachmentDescription">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="updateAttachmentDescription">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateAttachmentDescriptionResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReference">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getReference">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReferenceResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelationHistory">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getRelationHistory">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRelationHistoryResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivityMenuSchema">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getActivityMenuSchema">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getActivityMenuSchemaResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWorkflow">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="updateWorkflow">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateWorkflowResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelationList">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getRelationList">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getRelationListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRelation">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="deleteRelation">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteRelationResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivityObjects">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getActivityObjects">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getActivityObjectsResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLookup">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="deleteLookup">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteLookupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadAttachment">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="downloadAttachment">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadAttachmentResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLookup">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="createLookup">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createLookupResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLookupListByCode">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getLookupListByCode">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getLookupListByCodeResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCard">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="createCard">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createCardResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRelation">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="createRelation">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createRelationResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardList">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getCardList">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCardListResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardMenuSchema">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getCardMenuSchema">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCardMenuSchemaResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReport">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getReport">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAttachment">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="deleteAttachment">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteAttachmentResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCardHistory">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getCardHistory">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCardHistoryResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReportParameters">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getReportParameters">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportParametersResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCard">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getCard">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCardResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProcessHelp">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getProcessHelp">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getProcessHelpResponse">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrivateImplService">
    <wsdl:port binding="tns:PrivateImplServiceSoapBinding" name="PrivateImplPort">
      <soap:address location="http://localhost:8080/cmdbuild/services/soap/Private" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>